/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova", sans-serif;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
}
.popup {
    width: 300px;
}
.popup :where(.color){
    display: flex;
    align-items: center;
}

/* Top Banner */
.popup .banner{
    display: flex;
    align-items: center;
    padding: 16px 0px;
    justify-content: left;
    height: 50px;
}
.banner #exit-button{
    background-color: white;
    border: none;
    color: #3e3e3e;
    padding: 16px 10px;
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
}
.banner .title {
  font-size: 1rem; 
  font-weight: 500; 
  color: #3e3e3e;
  margin-right: 5rem; 
}
.banner .logo img {
  height: 20px; 
  width: auto; 
  padding: 0px 15px; 
}

/* Color Picker */
.popup .picker{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    background-color: #f7f8fa ;
    justify-content: center;
    height: 75px;
}
.picker #color-button{
    color:#3e3e3e;
    padding: 10px 20px;
    outline: none;
    border: solid #999999 1px;
    background: #ffffff;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
}

/* Recents */

/* Recents Banner */
.toggle{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    justify-content: left;
    height: 35px;
}
.toggle #toggle-button{
    background-color: white;
    border: none;
    color: #3e3e3e;
    /* padding: 0px 0px; */
    margin-left: 16px;
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.toggle #toggle-button.rotate-90 {
  transform: rotate(90deg);
}
.toggle #toggle-button.rotate-0 {
  transform: rotate(0deg);
}

.chosen-colors{
    margin: 0px 10px;
}
.chosen-colors.hide{
    cursor: pointer;
    display: none;
}
.chosen-colors header{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 10px;  
    /* background-color: #5f6368; */
}
.chosen-colors .clear-all{
    cursor: pointer;
}

/* Recents Grid */
.chosen-colors .recents-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns grid */
  gap: 10px; /* Adjust the gap between grid items */
  margin-bottom: 10px;
}

.recents-grid .color {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.recents-grid .rect {
  height: 22px;
  width: 22px;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: 2px solid #ccc;
}

.recents-grid .value {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
}

/* .border {
  color: #5f6368;
  margin-right: 15px;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
} */
